@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
* {    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: "Poppins", sans-serif;
}
header {
    background-color: yellow;
}

#logo {
    font-family: "Bangers", cursive;
}
main {
    background-color: aquamarine;
    flex: 1 0 auto;
}
footer {
    background-color: aqua;
}
