/*  Google fonts import: Poppins for text & Bangers for logo */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Asterix wildcard for all elements to make them look the same in all browsers */
* {
    padding: 0;
    margin: 0;
    /*  Height & width will be applied to the border as well */
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Colors */
:root {
    --black: rgb(0, 0, 0);
    --darkgrey: rgb(51, 51, 51);
    --pink: rgba(243, 173, 187, 0.9);
    --grey: rgba(40, 39, 39, 0.5);
    --white: rgb(255, 255, 255);
    --yellow: rgb(249, 248, 113);
    --lightgrey: rgb(211, 211, 211);
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    /* Formula for a responsive font size */
    font-size: calc(15px + 0.390625vw);
}

h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 1.7rem;
    font-family: "Bangers", cursive;
    color: var(--black);
    letter-spacing: 1.5px;
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--darkgrey);
    margin-bottom: 20px;
}

h4 {
    font-size: 1rem;
    text-align: center;
    color: var(--darkgrey);
}

p {
    color: var(--darkgrey);
    padding: 19px;
    text-align: center;
}

ul li {
    list-style-type: none;
}

li {
    font-size: calc(15px + 0.390625vw);
}

/* Header styles */
header {
    background-color: var(--pink);
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Menu (nav bar text) styles */
#menu {
    list-style-type: none;
    color: var(--black);
    text-transform: uppercase;
}

#menu>li {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

.active {
    border-bottom: 1px solid var(--black);
}

/* Nav bar styles */
nav {
    position: absolute;
    background-color: var(--pink);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content: Hero section styles */
#home_pic {
    background: url("../images/muffins.webp") no-repeat center center/cover;
}

#products_pic {
    background: url("../images/pastries.webp") no-repeat center center/cover;
}

.hero {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-text {
    color: var(--white);
    background-color: var(--grey);
    padding: 0 10px;
}

.franchise_pic {
    background-image: url("../images/cafe.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

/* Column styles*/
.column {
    padding: 20px 15px;
}

.menu_pictures {
    width: 70%;
    /* center the picture */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 23px;
}

/* Form styles */
.form {
    background-color: var(--grey);
    width: 90%;
    color: var(--white);
    font-size: calc(15px + 0.390625vw);
    padding: 0 50px 20px 50px;
    margin-top: 130px;
    margin-bottom: 30px;
}

.form p {
    color: var(--white);
    line-height: 2rem;
}

.black-text p {
    color: var(--black);
}

.text-input,
.select,
.message {
    width: 100%;
    height: 35px;
    padding: 2px 6px;
    border-radius: 5px;
    margin: 3px 0 15px 0;
}

.text-input,
.message {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.select {
    background: var(--lightgrey);
}

.message {
    height: fit-content;
}

.button {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 40px;
    background-color: var(--yellow);
    border: none;
    color: var(--darkgrey);
    text-decoration: none;
}

input,
select,
textarea,
button {
    font-size: calc(15px + 0.390625vw);
}

.thankyou {
    text-align: center;
    margin-top: 100px;
}

.back_home {
    margin-top: 100px;
}

/* Footer styles */
footer {
    background-color: var(--pink);
}

footer div {
    padding-top: 30px;
}

footer p {
    color: var(--black);
    padding: 0;
}

/* Socials icons & layout */
.social-networks {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
}

.social-networks i {
    font-size: 150%;
    color: var(--black);
}

.copy {
    font-size: 80%;
    padding-bottom: 20px;
}

/* For tablet-size screens and bigger */
@media screen and (min-width: 768px) {

    /* General styles */
    p {
        padding: 24px;
    }

    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    /* Nav bar styles */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        background-color: transparent;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2.5rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        line-height: 85px;
        margin: 0 2rem;
    }

    /* Hero section styles */
    .cover-text {
        padding: 0 20px;
    }

    .hero {
        height: 450px;
    }

    /* Columns: responsive - make two columns */
    .columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* For small laptop screens and bigger */
@media screen and (min-width: 1024px) {

    /* General styles */
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    /* Nav bar, menu & logo styles + hover button */
    #menu a:hover {
        border-bottom: 1px solid var(--black);
    }

    #menu>li {
        padding-left: 4rem;
        padding-right: 2rem;
        font-size: 120%;
    }

    #logo {

        margin: 0 1rem;
    }

    /* Hero section styles */
    .hero {
        height: 500px;
    }

    .cover-text {
        padding: 0 30px;
    }

    /* Main section */
    .form {
        margin-top: 200px;
    }

    /* Socials icons & layout */
    #social-networks i {
        font-size: 220%;
    }

    #social-networks {
        gap: 15px;

    }
}

/* For laptop screens and bigger */
@media screen and (min-width: 1440px) {

    /* General styles */
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.6rem;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2rem;
    }

    p,
    li {
        font-size: 26px;
    }

    /* Nav bar, menu & logo styles */
    #logo {
        line-height: 100px;
        margin: 0 4rem;
    }

    #menu>li {
        padding-left: 4rem;
        padding-right: 3rem;
        font-size: 140%;
    }

    /* Hero section styles */
    .hero {
        height: 650px;
    }

}