@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
* {    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgba(9, 8, 8, 0.824);
    font-family: "Poppins", sans-serif;
}
header {
    background-color: #f3adbb;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
Header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: "Bangers", cursive;
    font-size: xxx-large;
    color:rgba(4, 4, 4, 0.92);
    letter-spacing: 1px;
}

#menu {
    font-size: large;
    text-transform: uppercase;
    color:rgba(57, 56, 56, 0.92);
    letter-spacing: 0,5px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid rgba(57, 56, 56, 0.92);
}

nav {
    position: absolute;
    background-color: #f3adbb;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display:block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 3rem; 
}
main {
    background-color: white;
    flex: 1 0 auto;
    margin-top: 68px;
}
footer {
    background-color: #f3adbb;
}
